@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url(/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: #242424;
}
::-webkit-scrollbar-track {
  background: #555;
}
::-webkit-scrollbar-thumb:hover {
  background: #121212;
}
